/* Styles for advanced.html */

/* ----- NAV ----- */
.nav-bar,
.advance-header-container {
    width: 100%;
}
.logo-container {
    height: 48px;
    flex: 1 1 auto;
    overflow: hidden;
    vertical-align: middle;
    align-items: center;
}
.logo-link {
    padding-left: 14px;
}
.logo {
    content: url(
        https://www.gstatic.com/images/branding/googlelogo/svg/googlelogo_clr_74x24px.svg
    );
    display: inline-block;
    height: 24px;
    width: 74px;
    vertical-align: middle;
}


/* ----- BODY ----- */
main {
    height: 82%;
}


/* ----- TITLE ----- */
.title-container {
    color: #d93025;
    margin: 25px 35px;
}
.title {
    padding-left: 10px;
    font-size: 20px;
    font-weight: inherit;
}
.page-division {
    border: 1px solid ebebeb;
}

/* FORM */
.form-frame {
    max-width: 1140px;
    min-width: 200px;
    width: 96%;
    margin: 40px 2% 0 45px;
}
.header-text {
    font-size: 16px;
    font-weight: 500;
    color: #333;
}
.header-tip {
    float:left;
    width: 33%;
    font-size: 13px;
    font-weight: 700;
    color: #777;
    padding-left: 5px;
    vertical-align: middle;
}