/* Styles for advanced.html */

/* ----- NAV ----- */
.nav-bar,
.advance-header-container {
    width: 100%;
}
.logo-container {
    height: 48px;
    flex: 1 1 auto;
    overflow: hidden;
    vertical-align: middle;
    align-items: center;
}
.logo-link {
    padding-left: 14px;
}
.logo {
    content: url(
        https://www.gstatic.com/images/branding/googlelogo/svg/googlelogo_clr_74x24px.svg
    );
    display: inline-block;
    height: 24px;
    width: 74px;
    vertical-align: middle;
}


/* ----- BODY ----- */
main {
    height: 82%;
}


/* ----- TITLE ----- */
.title-container {
    color: #d93025;
    margin: 25px 35px;
}
.title {
    padding-left: 10px;
    font-size: 20px;
    font-weight: inherit;
}
.page-division {
    border: 1px solid ebebeb;
}


/* FORM */
.form-frame {
    max-width: 1140px;
    min-width: 200px;
    width: 96%;
    margin: 40px 2% 0 45px;
}
.header-text {
    font-size: 16px;
    font-weight: 500;
    color: #333;
}
.header-tip {
    float:left;
    width: 33%;
    font-size: 13px;
    font-weight: 700;
    color: #777;
    padding-left: 5px;
    vertical-align: middle;
}


/* INPUT */
.input-container {
    width: 100%;
    border: 0;
}
.input-line {
    clear: both;
}

/* Input text description */
.line-text {
    float: left;
    width: 16%;
    height: 42px;
    min-width: 167px;
    vertical-align: middle;
}
.input-text {
    color: #222;
    font-size: 13px;
    line-height: 16px;
}
.header-text,
.header-tip > p,
.line-text > p,
.line-tip > div
{
    display: table-cell;
    height: 30px;
    vertical-align: middle;
}

/* Input field */
.line-box {
    float: left;
    width: 50%;
    min-width: 167px;
    min-height: 41px;
    vertical-align: middle;
}
.input-field {
    width: 100%;
    height: 25px;

    text-align: left;
    font-size: 13px;
    padding: 1px 8px;

    border-radius: 1px;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
}
.input-field:focus {
    box-shadow: inset 0 1px 2px rgba(0,0,0,.3);
    border: 1px solid #4d90fe;
    outline: none;
}

/* Usage tip */
.line-tip {
    float: left;
    position: relative;
    width: 32%;
    min-width: 160px;
    padding-left: 5px;
    margin: 0 0 8px 1%;
    font-size: 11px;
    color: #555;
    vertical-align: middle;
}
.tip-example {
    font-family: monospace;
    font-size: 11px;
    color: #666;
}


/* ----- SUBMIT ----- */
.submit-btn {
    float: right;
    height: 30px;
    min-width: 120px;
    margin: 10px 0;
    padding: 0 12px;

    font-size: 11px;
    font-weight: bold;
    text-align: center;

    white-space: nowrap;
    user-select: none;
    line-height: 100%;
    cursor: default;

    box-shadow: none;
    border-radius: 2px;
    color: #fff;
    border: 1px solid #3079ed;
    background-color: #4d90fe;
    background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
}
.submit-btn:hover {
    border-image: initial;
    border: 1px solid #2f5bb7;
    background-color: #357ae8;
    background-image: -webkit-linear-gradient(top, #4d90fe, #357ae8);
}
.form-division {
    margin: 18px 0;
    clear: both;
}


/* MORE OPTIONS */
.more-options {
    clear: both;
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 90px;
}
.options-title {
    min-height: 42px;
}
.option-link-list {
    clear: both;
}
.option-link {
    color: -webkit-link;
    cursor: pointer;
}







