/* ----- FOOTER ----- */
footer {
    display: block;
    flex-shrink: 0;
    background: #f2f2f2;
}
.footer-top {
    padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
    font-size: 15px;
    color: #1f1f1f;
}
.footer-bottom {
    flex-wrap: wrap;
    margin-bottom: 1px;
    padding: 0 20px;
    justify-content: space-between;
}


/* Left-side links */
.left-links-container {
    justify-content: flex-start;
    min-width: 30%;
    order: 1;
}
.left-links {
    width: 100%;
}
.ftr-link {
    display: block;
    padding: 15px;
    cursor: pointer;
}
.ftr-link:hover {
    text-decoration: underline;
}